<div class="container-feed">
    <div class="feed-general">
        <div class="feed-general__message">
            <p>Bienvenido, {{currentUser.fullname}}</p>
        </div>
        {{#if projects}}
        <masonry-layout cols="3" gap="20">
            {{#each projects}}
            <a class="link-card-project" href="/project/{{url}}">
                <div class="card-project">

                    <div class="card-project-image">
                        <img src={{image_project.imageURL}} alt="">
                    </div>

                    <div class="card-project-body">
                        <div class="card-project-body__header">
                            <ul class="header__technologies">
                                {{#each technologies}}
                                <li>{{this}}</li>
                                {{/each}}
                            </ul>
                            <div class="header-title">{{name}}</div>
                        </div>
                        {{#if user}}
                        <div class="card-project-body__owner">
                            <p>By {{user.fullname}}</p>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </a>
            {{/each}}
        </masonry-layout>
        {{else}}
        <div class="message-not-project">
            <p>😕 There are no projects to show</p>
        </div>
        {{/if}}
    </div>
</div>