<section class="container-profile">

  <div class="section-profile">

    <div class="profile-image">
      {{#if user.profile_image}}
      <img src="{{user.profile_image.imageURL}}" alt="{{ user.name }}">
      {{else}}
      <img src="/static/images/user-icon-default.jpg" alt="{{ user.name }}">
      {{/if}}
    </div>

    <div class="profile-info">
      <div class="box-fullname">
        <h1 class="profile-name">{{user.fullname}}</h1>
        {{#if (validUserToUpdateProject currentUser user)}}
        <a class="btn-edit-user" href="/user-update/{{user.username}}">Edit profile</a>
        {{/if}}
      </div>
      <p class="profile-profession">{{user.profession}}</p>
      <p class="profile-description">{{user.description}}</p>
      {{#if (validUserToUpdateProject currentUser user)}}
      <div class="profile-buttons">
        <a class="btn-standard btn-add" href="/project/add">Add new Project</a>
      </div>
      {{/if}}
    </div>
  </div>

  <div class="section-profile-info">
    <div class="feed-projects-profile">
      <div class="box-title-projects">
        <span class="icon-feed"><img src="/static/icons/icon-feed.svg" alt="icon" /></span>
        <p>Projects</p>
      </div>
      {{#if projects}}
      <masonry-layout cols="3" gap="20">
        {{#each projects}}
        <a class="link-card-project" href="/project/{{url}}">
          <div class="card-project">

            <div class="card-project-image">
              <img src={{image_project.imageURL}} alt="">
            </div>

            <div class="card-project-body">
              <div class="card-project-body__header">
                <ul class="header__technologies">
                  {{#each technologies}}
                  <li>{{this}}</li>
                  {{/each}}
                </ul>
                <div class="header-title">{{name}}</div>
              </div>
            </div>
          </div>
        </a>
        {{/each}}
      </masonry-layout>
      {{else}}
      <div class="message-not-project">
        <p>😕 You don't have any project yet</p>
        <a class="btn-standard btn-add" href="/project/add">Add new Project</a>
      </div>
      {{/if}}
    </div>
  </div>

</section>