<section class="container-profile">

  <div class="section-profile">

    {{!-- <div class="profile-image"> --}}
      {{!-- {{#if user.profile_image_id}}
        <img src="{{user.profile_image_id}}" alt="{{ user.name }}">
      {{else}} --}}
        {{!-- <img src="/static/images/user-icon-default.jpg" alt="{{ user.name }}"> --}}
      {{!-- {{/if}} --}}
    {{!-- </div> --}}

    <div class="profile-info">
      <h1 class="profile-name">{{user.fullname}}</h1>
      <p class="profile-profession">{{user.profession}}</p>
      <div class="profile-buttons">
        <a class="btn-standard btn-add" href="/project/add">Add new Project</a>
        <a class="btn-standard btn-add" href="/user-update/{{user.username}}">Edit my profile</a>
      </div>
      <div class="profile-skills">
        {{!-- {{#each user.skills}}
          <p class="profile-skill">{{this}}</p>
        {{/each}} --}}
      </div>
      {{!-- <p class="profile-description">{{user.description}}</p> --}}
    </div>

  </div>

  <div class="section-profile-info">
    <h2 class="title-section-profile">Description</h2>
    <p class="profile-description">{{user.description}}</p>
  </div>
</section>