<section class="container-single-project">
  <div class="section-single-project">
    <img src="{{photo.imageURL}}" alt="">
  </div>
  <div class="section-single-project">
    <h1 class="title-section-project">{{project.name}}</h1>
    {{#if project.user}}
    <a class="section-owner" target="_blank" href="/user/{{project.user.username}}">
      <div class="box-user-profile">
        {{#if owner.profile_image}}
          <img src={{owner.profile_image.imageURL}} alt="{{project.user.username}}">
        {{else}}
      <img src="/static/images/user-icon-default.jpg" alt="{{project.user.username}}">
        {{/if}}
      </div>
      <span>{{project.user.fullname}}</span>
    </a>
    {{/if}}
    <div class="description-project">{{{project.description}}}</div>
    <h3 class="subtitle-section-project">Technologies used in the project</h3>
    <ul class="header-tags">
      {{#each project.technologies}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
    {{#if (validUserToUpdateProject currentUser owner)}}
      <a href="/project/update/{{project.url}}" class="btn-standard btn-edit">Edit project</a>
      <a class="btn-standard btn-delete" data-delete={{project.id}}>Delete project</a>
    {{/if}}
  </div>
</section>